@font-face {
  font-family: 'Aharoni';
  src: url('/font/Aharoni/Aharoni.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aharoni Bold';
  src: url('/font/Aharoni/Aharoni_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Aharoni', sans-serif;
}



.gradient-background {
  background: linear-gradient(to bottom, #0046ff, #00d5ff, #00d5ff);
}

/* 
.font-dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-dancing-script-bold {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.text-outline {
  text-shadow:
    -0.5px -0.5px 0 #fff,
    0.5px -0.5px 0 #fff,
    -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
}
*/


.landing::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 25%;
  width: 60%;
  height: 120%;
  background-image: url('/symbol-hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.25;
  z-index: -1;
  pointer-events: none;
}

@media (max-width: 768px) {
  .landing::before {
    background-size: contain;
  }
}

@media (max-width: 480px) {
  .landing::before {
    background-size: 100% auto;
  }
}